{%- for message in messages %}
    {%- if message.role == "system" %}
        {{- '<|im_start|>system\n' + message.content + '<|im_end|>\n' }}
    {%- elif message.role == "user" %}
        {{- '<|im_start|>user\n' + message.content + '<|im_end|>\n' }}
    {%- elif message.role == "assistant" %}
        {{- '<|im_start|>assistant\n' }}
        {%- if message.tool_calls %}
            {%- for tool_call in message.tool_calls %}
                {{- '<tool_call>\n<function=' + tool_call.function.name + '>\n' }}
                {%- for key, value in tool_call.function.arguments.items() %}
                    {{- '<parameter=' + key + '>\n' + value|string + '\n</parameter>\n' }}
                {%- endfor %}
                {{- '</function>\n</tool_call>' }}
            {%- endfor %}
        {%- else %}
            {{- message.content }}
        {%- endif %}
        {{- '<|im_end|>\n' }}
    {%- endif %}
{%- endfor %}
{%- if add_generation_prompt %}
    {{- '<|im_start|>assistant\n' }}
{%- endif %}